@model BoilerplateCore.DTO.OsobaCreateDto

@{
    ViewData["Title"] = "NovaOsoba";
    var list = ViewBag.DropDown as SelectList;
}

<h2>NovaOsoba</h2>

<form action="" method="post">
    <label>Ime</label><br />
    <input type="text" name="ime" placeholder="Ime osobe" /><br />
    <label>Prezime</label><br />
    <input type="text" name="prezime" placeholder="Prezime osobe" /><br />
    <label>Kancelarija</label><br />
    @Html.DropDownListFor(c => c.KancelarijaId, list, "Kancelarija")
    <input type="submit" value="Sacuvaj" />
</form>