@model BoilerplateCore.DTO.OsobaKancelarijaDTO
@{
    ViewData["Title"] = "GetKancId";
}

<h2>GetKancId</h2>

<form action="" method="get">

    @Html.LabelFor(c => c.Id)
    @Html.TextBoxFor(c => c.Id, new { @class = "form-control" })
    <br />
    <input type="submit" value="Nadji" />

</form>

